body {
    background-color: rgba(255, 197, 132, 0.87);
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.w {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    background-color: rgba(255, 243, 219, 0.829);
    margin: 0 auto;
    vertical-align: 0 auto;
    box-shadow: 0px 6px 4px rgba(119, 111, 91, 0.671);
    transition: 0.4s;
    margin-top: 400px;
}

.w:hover {
    box-shadow: 0px 11px 10px 5px rgba(119, 111, 91, 0.863);
    width: 440px;
    height: 440px;
}

p {
    text-align: center;
    font-size: 48px;
    width: 300px;
    height: 300px;
    padding: 50px;
    transition: 0.4s;
}

p:hover {
    width: 300px;
    height: 300px;
    padding: 70px;
}
